<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

  
<suite name="Free Crm Applicaion">
  <test name="Crm Application Test" >
    <classes>
       <class name="com.crm.qa.testcases.LoginPageTest"></class>
       <class name="com.crm.qa.testcases.HomePageTest"></class>
       <class name="com.crm.qa.testcases.ContactsPageTest"></class>
    </classes>
  </test>
</suite>
